body {
    background-color: #23395b;
    margin: 0px;
}

.navigation {
    background-color: #ff6f59;
    height: 40px;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation__link {
    color: #fff;
    display: inline-block;
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    /* text-shadow: 0px -1px 0px #5b6178; */
    font-size: 1.1em;
}

.navigation__link:hover {
    background-color: #23395b;
    color: #ff6f59;
}

.navigation__link--home-page {
    margin-left: 50px;
    font-weight: bold;
}

.welcome-section {
    margin-top: 50px;
}
.welcome-section__title {
    color: #f26419;
    font-size: 3em;
    text-align: center;
}

.welcome-section__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.article {
    border: 1px solid #f6ae2d;
    margin: 20px auto 15px auto;
    padding: 0px 10px 10px 10px;
    width: 1000px;
}

.article:last-of-type {
    margin-bottom: 60px;
}

.article__title {
    margin-block-start: 0.2em;
    color: #f26419;
    font-size: 2.2em;
    padding-left: 20px;
    text-align: center;
}

.article__content {
    font-size: 1.1em;
    color: #ff6f59;
    padding-left: 10%;
}

.sub-article__title {
    color: #f26419;
    margin-left: 5%;
}
.sub-article__content {
    font-size: 1.1em;
    color: #ff6f59;
    padding-left: 5%;
    padding-right: 5%;
}

.footer {
    text-align: center;
    position: fixed;
    width: 100%;
    font-size: 1.1em;
    color: #23395b;
    bottom: 0px;
    left: auto;
    background-color: #55dde0;
}
